.transition, form button, form .question label, form .question input[type="mText"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
  font-family: Poppins-Bold, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;

}
.v35_21 {
  width: 164px;
  height: 299px;
  background: rgba(255, 255, 255, 1);
  padding: 29px 32px;
  margin: 35px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 76px;
  border-top-right-radius: 76px;
  border-bottom-left-radius: 76px;
  border-bottom-right-radius: 76px;
  overflow: hidden;
}
.v35_22 {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 32px;
  border-radius: 50%;
}
.v35_23 {
  width: 100px;
  height: 100px;
  background: rgba(0, 10, 255, 1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 32px;
  border-radius: 50%;
}
.v35_24 {
  width: 100px;
  height: 100px;
  background: rgba(35, 255, 0, 1);
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 32px;
  border-radius: 50%;
}
.v35_25 {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 32px;
  border-radius: 50%;
}
.UI-Image {
  z-index: 100000;
  position: absolute;
  width: 80px;
  

}

.UI-Image:hover {
  
}

.UI-Button {
  position: relative;
  z-index: 100001;
  width: 50px;
  height: 50px;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 10%;
  padding-bottom: 7%
  
}

.UI-Button:hover {
  transform:scale(0.97);
}

.UI-Button1 {
  position: relative;
  z-index: 100001;
  width: 50px;
  height: 50px;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 7%;
  padding-bottom: 7%;
  
}

.UI-Button1:hover {
  transform:scale(0.97);
}
.UI-Button2 {
  position: relative;
  z-index: 100001;
  width: 50px;
  height: 50px;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 7%;
  padding-bottom: 7%
}

.UI-Button2:hover {
  transform:scale(0.97);
}

.InputContainer{
  z-index: 100001;
  position: absolute;
  right: 100%;
  top: 20%;
  margin:auto
}

#button:hover {
  background-color: black;
}

.extensionContainer{
  position: fixed;
  width: 72px;
  top: 30%;
  left: 94%;
  margin: auto;
}

#wpminfo {
  position: fixed;
  background-color: rgb(19, 118, 206);
  opacity: 0.5;
  width: 100%;
  height: 10%;
  top: 90%;
  z-index: 100003;
}

form {
  box-shadow: 13px 16px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form button {
  margin-top: 35px;
  background-color: white;
  border: 1px solid #43aa8b;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #43aa8b;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form button:hover, form button:focus {
  color: white;
  background-color: #43aa8b;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #43aa8b;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="mText"] {
  appearance: none;
  background-color: none;
  border: 1px solid #43aa8b;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #43aa8b;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="mText"]:focus {
  outline: none;
  background: #43aa8b;
  color: white;
  margin-top: 30px;
}
form .question input[type="mText"]:valid {
  margin-top: 30px;
}
form .question input[type="mText"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="mText"]:valid ~ label {
  -moz-transform: translate(5px, -35px) scale(1);
  -ms-transform: translate(5px, -35px) scale(1);
  -webkit-transform: translate(5px, -35px) scale(1);
  transform: translate(5px, -35px) scale(1);
}